:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --White2: hsl(0, 0%, 80%);
    --Grey1: hsl(0, 0%, 20%);
    --Grey2: hsl(0, 0%, 12%);
    --Grey3: hsl(0, 0%, 8%);
}

* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: Inter;
    background-color: var(--Grey3);
}

main {
    height: 100vh;
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    width: 90%;
    max-width: 350px;
    text-align: center;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    background-color: var(--Grey2);
}

.user-information img{
    width: 30%;
    border-radius: 50%;
    margin-bottom: 1em;
}

.user-information h1 {
    font-size: 1.7em;
    font-weight: 600;
    color: var(--White);
    margin-bottom: .3em;
}

.user-information h1 + p {
    font-size: .9em;
    font-weight: 600;
    color: var(--Green);
    margin-bottom: 2em;
}

.user-information h1 + p + p {
    color: var(--White2);
    margin-bottom: 1.8em;
}

.contacts-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contacts-list .contact-item {
    background-color: var(--Grey1);
    padding: 1em;
    border-radius: 10px;
}

.contacts-list .contact-item a {
    font-weight: 400;
    text-decoration: none;
    color: var(--White);
}

@media screen and (min-width: 768px) {
    
    .container {
        padding: 3em 2em 2em 2em;
    }
}

@media screen and (min-height: 1440px) {
    body {
        font-size: 20px; 
    }

    .container {
        max-width: 500px;
    }
}